@(webJarAssets: WebJarAssets)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>title</title>
      <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
      <style>
      .floatright {
          float: right;
      }
      .tablerow {
          background-color: #f4f4f4;
      }
      .tableheader {
          background-color: #3BAFDA;
          color: #ffffff;
          font-weight: bold;
      }
      .usertable {
          width: 300px;
      }
      .errorwidth {
          width: 600px;
      }
      .alertred {
          color: #a94442;
          font-size: 14px;

          opacity: 0.5;
      }
      </style>
      @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
      <script src='@routes.WebJarAssets.at(webJarAssets.locate("js/bootstrap.min.js"))'></script>
  </head>
  <body>
   @content
  </body>
</html>
